<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

         <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
        <script type="text/javascript">
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Главная</a>
          <a class="navbar-brand" href="/test">Проверка навыков</a>
          <a class="navbar-brand" href="#">Акцентуаторы</a>
          <a class="navbar-brand" href="/about">О проекте</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <main role="main" class="container">

    <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container">
        <h1>sStr<font color="#88B04B">e</font>ss</h1>
        <p>Мы ставим ударения!</p>
        <!-- p><a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше &raquo;</a></p-->
      </div>
    
    <br/>
    <br/>
    
    <div class="container">

      <p>Ударение играет большую роль в русском языке. В отличие от языков, в которых ударение фиксировано и четко закреплено за определенным слогом в слове, в русском языке ударение подвижно и может падать на любой по счету слог в слове. При изменении грамматических форм слова оно также может перемещаться на разные его слоги, ввиду чего предсказать его поведение бывает крайне затруднительно.</p>

      <br/>

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Акцентуатор, основанный на правилах</a></li>
        <li><a data-toggle="tab" href="#menu1">Нейронный акцентуатор</a></li>
      </ul>

      <br/>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <p>Одним из факторов, способных указать на поведение ударения в слове, является его морфемный состав. Каждая из морфем в словоформе несет в себе не только грамматические характеристики словоформы, но и информацию об ударении. Существует два масштабных труда, в которых с разных точек зрения рассматривается взаимосвязь ударения в русском языки с морфемным составом слова. Это книга А.А. Зализняка «От праславянской акцентуации к русской», а также «Русская грамматика», созданная академией наук СССР и институтом русского языка. В основу акцентуатора легли два этих труда: для всех морфем глаголов, имён существительных и прилагательных, перечисленных в этих книгах, были собраны и составлены правила постановки ударения. Информацию о правиле, на основе которого сделано то или иное решение о месте ударения, можно посмотреть в всплывающих подсказках при анализе текста на главной странице сайта.</p>
          <p>При акцентуации используются следующие библиотеки:
            <ul>
              <li>для токенизации текста используется модуль nltk</li>
              <li>для определения части речи и начальной формы слова используется модуль pymorphy2</li>
            </ul>
          </p>
          <p>Для поиска морфем применяется поиск соответствий конечного сегмента слова какому-либо правилу. При обнаружении нескольких вариантов постановки ударения применяется то правило, которое задействует самый длинный сегмент слова.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
          <p>В основе этого акцентуатора лежит рекуррентная нейронная сеть lstm, обученная на акцентологическом подкорпусе Национального корпуса русского языка. Мы хотели сделать этот акцентуатор простым и быстрым  и сознательно отказались от использования в нем сторонних теггеров и парсеров. Но наша сеть все-таки учитывает морфологическую информацию. В один момент времени сеть, работающая на уровне символов, смотрит на слово и его левый  контекст и предсказывает позицию ударения. Левый символьный контекст позволяет с высокой точностью разрешать омонимию в тех случаях, когда омографы имеют различные грамматические показатели, например являются словоформами в разных падежах, так как в левый контекст часто попадают окончания зависимых прилагательных и предлоги, управляющие падежом именной группы.</p>
          <p>Подробнее об устройстве нейронного акцентуатора (а также о других подходах к подготовке данных ) можно прочитать в нашей <a href="http://www.aclweb.org/anthology/W/W17/W17-4104.pdf">статье</a></p>
        </div>
      </div>
    </div>
  </main>

      <footer class="footer">
        <div class="container">
          <p>&copy; sStress 2017</p>
        </div>
      </footer>
     <!-- /container --> 
        <script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>