<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

         <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
        <script type="text/javascript">
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Главная</a>
          <a class="navbar-brand" href="#">Проверка навыков</a>
          <a class="navbar-brand" href="#">Акцентуаторы</a>
          <a class="navbar-brand" href="#">О нас</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container">
        <h1>sStr<font color="#88B04B">e</font>ss</h1>
        <p>Мы ставим ударения!</p>
        <!-- p><a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше &raquo;</a></p-->
      </div>
    </div>
    
    </br>
    </br>
	
    
    <div class="container">
      <div class="row">
         <div class="col-md-12" id="sendFormContainer">
            <form action="/"  method="POST" role="form">    
              <div class="form-group">
                <textarea name="test" rows="9" id="test_text" class="form-control test" placeholder="Вставьте сюда Ваш текст с ударениями"></textarea>
              </div>
              <div class="form-inline">
                <a class="btn btn-primary btn-lg checkme" href="#" role="button" style="width: 140px">
                    <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                    Обработать
                </a>
                <div class="form-group">
                  <button class="btn btn-link" id="clearBtn">
                  Очистить
                  </button>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      
      <div class="container">
      <div class="row">
        <div class="col-md-7" id="testResultsContainer">
            
        </div>
        <div class="col-md-5">
            
        </div>
      </div>
    </div>
          
	
	
	
	      <hr>

      <footer>
      <div class="container">
        <p>&copy; sStress 2017</p>
      </footer>
      </div>
    </div> <!-- /container --> 
        <script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/test.js') }}"></script>

    </body>
</html>